  .gallery {
      margin: 0px auto;
      width: 1280px;
      display: flex;
      flex-wrap: wrap;
  }
  
  .img-wrapper {
      width: 320px;
      height: 195px;
      overflow: hidden;
  }
  
  .img-wrapper img {
      display: inline-block;
      max-width: 100%;
      width: 320px;
  }